<h2>Vorlesung</h2>
<h3><%= @lecture.title %></h3>


<div class = "actions pull-right">
  <% if can? :edit, Lecture %>
    <%= link_to lecture_path(@lecture), :class => "btn btn-mini btn-success btn-inverse" do%>
      <i class = "icon-pencil icon-white"></i>
    <% end %>
  <% end %>
  
  <% if can? :destroy, Lecture %>
    <%=form_tag (lecture_path(@lecture), :method => "delete", :class => "delete-button-form") do%>
      <%= button_tag :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger" do%>
        <i class='icon-trash'></i>
      <% end %>
    <% end %>
  <% end %>
</div> 

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Allgemeine Informationen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Dozent</th>
      <td>
        <% if !@lecture.lecturer.blank? %>
          <% for lecturer in @lecture.lecturer %>
            <div class="row-fluid">
              <div class="span6">
                <%= link_to lecturer.to_s, user_path(lecturer.id) %>
              </div>
              <div class="span6">
                <%= form_tag remove_user_path(@lecture.id, :lecturer), :method => :delete do%>
                  <%= hidden_field_tag 'user_id', lecturer.id %>
                  <%= button_tag :class=> "btn btn-mini btn-danger" do%>
                    <i class = "icon-minus"></i>          
                  <% end %>
                <% end %>
              </div>
            </div>        
          <% end %>
        <% else %>
          <p class="badge badge-info">Noch keine Dozenten zugeordnet</p>
        <% end %>
      </td>
      <td>
        <%= link_to add_user_list_path(@lecture, :lecturer), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
          <i class = "icon-plus icon-white"></i>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Assistenten</th>
      <td>
        <% if !@lecture.staff.blank? %>
          <% for staff in @lecture.staff %>
            <div class="row-fluid">
              <div class="span6">
                <%= link_to staff.to_s, user_path(staff.id) %> 
              </div>
              <div class="span6">
                <%= form_tag remove_user_path(@lecture.id, :staff), :method => :delete do%>
                  <%= hidden_field_tag 'user_id', staff.id %>
                  <%= button_tag :class=> "btn btn-mini btn-danger" do%>
                    <i class = "icon-minus"></i>          
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="badge badge-info">Noch keine Assistenten zugeordnet</p>
        <% end %>
      </td>
      <td>
        <%= link_to add_user_list_path(@lecture, :staff), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
          <i class = "icon-plus icon-white"></i>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Tutoren</th>
      <td>
        <% if !@lecture.tutors.blank? %>
          <% for tutor in @lecture.tutors %>
            <div class="row-fluid">
              <div class="span6">
                <%= link_to tutor.to_s, user_path(tutor.id) %>
              </div>
              <div class="span6">
                <%= form_tag remove_user_path(@lecture.id, :tutors), :method => :delete do%>
                  <%= hidden_field_tag 'user_id', tutor.id %>
                  <%= button_tag :class=> "btn btn-mini btn-danger" do%>
                    <i class = "icon-minus"></i>          
                  <% end %>
                <% end %>
              </div>
            </div>      
          <% end %>
        <% else %>
          <p class="badge badge-info">Noch keine Tutoren zugeordnet</p>
        <% end %>
      </td>
      <td>
        <%= link_to add_user_list_path(@lecture, :tutors), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
          <i class = "icon-plus icon-white"></i>
        <% end %>
      </td>
    </tr>
  </tbody>

</table>

<table class="table table-striped">
  <% if !@lecture.groups.blank? %>
    <thead>
      <tr>
        <th colspan="2">eingetragene Gruppen</th>
      </tr>
      <tr>
        <th>Gruppe</th>
        <th>Studenten</th>
      </tr>
    </thead>
    <tbody>
        <% for group in @lecture.groups %>
          <tr>
            <td>
              <%= link_to "##{group.id}", studentgroup_path(group.id) %> <br>        
            </td>
            <td>
              <% if !group.students.blank? %>
                <% for student in group.students %>
                  <%= link_to student.to_s, user_path(student.id) %> <br>        
                <% end %>
              <% else %>
                <span class="bagde bagde-info">Leere Gruppe</span>    
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
    <% else %>
      <tbody>
        <tr>
          <th><span class="bagde bagde-info">Keine Gruppen eingetragen</span></th>
          <td>
            <%= link_to new_studentgroup_path, :class => "btn btn-success btn-inverse" do%>
              Gruppe erstellen <i class="icon-plus icon-white"></i> 
            <% end %>

          </td>
        </tr>      
      </tbody>
    <% end %>

</table>