<h2><%= @lecture.title %></h2>

<div class="row-fluid">
  <div class="span12 right-aligned">
    <% if can? :edit, Lecture %>
      <%= link_to edit_lecture_path(@lecture), :class => "btn btn-mini btn-success btn-inverse" do%>
        <i class = "icon-pencil icon-white"></i>
      <% end %>
    <% end %>
    
    <% if can? :destroy, Lecture %>
      <%=form_tag (lecture_path(@lecture), :method => "delete", :class => "delete-button-form") do%>
        <%= button_tag :method => :delete, :class => "btn btn-mini btn-primary" do%>
          <i class='icon-remove icon-white'></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="well">
      <div class="row-fluid">
        <div class="span3 header">Dozenten</div> 
        <div class="span8">
          <% if !@lecture.lecturer.blank? %>
            <% for lecturer in @lecture.lecturer %>
              <div class="row-fluid row-item">
                <div class="span8">
                  <%= link_to lecturer.to_s, user_path(lecturer.id) %>
                </div>
                <div class="span4">
                  <%= form_tag remove_user_path(@lecture.id, :lecturer), :method => :delete, :class => "delete-button-form" do%>
                    <%= hidden_field_tag 'user_id', lecturer.id %>
                    <%= button_tag :class=> "btn btn-mini btn-primary" do%>
                      <i class = "icon-remove icon-white"></i>          
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="badge badge-info">Noch keine Dozenten zugeordnet</p>
          <% end %>
        </div>
        <div class="span1">
          <% if can? :add_user_list_path, Lecture%>
            <%= link_to add_user_list_path(@lecture, :lecturer), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
              <i class = "icon-plus icon-white"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row-fluid">
        <div class="span3 header">Assistenten</div>
        <div class="span8">
          <% if !@lecture.staff.blank? %>
            <% for staff in @lecture.staff %>
              <div class="row-fluid row-item">
                <div class="span8">
                  <%= link_to staff.to_s, user_path(staff.id) %> 
                </div>
                <div class="span4">
                  <%= form_tag remove_user_path(@lecture.id, :staff), :method => :delete, :class => "delete-button-form"  do%>
                    <%= hidden_field_tag 'user_id', staff.id %>
                    <%= button_tag :class=> "btn btn-mini btn-primary" do%>
                      <i class = "icon-remove icon-white"></i>          
                    <% end %> 
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="badge badge-info">Noch keine Assistenten zugeordnet</p>
          <% end %>
        </div>
        <div class="span1">
          <% if can? :add_user_list_path, Lecture%>
            <%= link_to add_user_list_path(@lecture, :staff), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
              <i class = "icon-plus icon-white"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row-fluid">
        <div class="span3 header">Tutoren</div>
        <div class="span8">
          <% if !@lecture.tutors.blank? %>
            <% for tutor in @lecture.tutors %>
            <div class="row-fluid row-item">
              <div class="span8">
                <%= link_to tutor.to_s, user_path(tutor.id) %>
              </div>
              <div class="span4">
                <%= form_tag remove_user_path(@lecture.id, :tutors), :method => :delete, :class => "delete-button-form"  do%>
                  <%= hidden_field_tag 'user_id', tutor.id %>
                  <%= button_tag :class=> "btn btn-mini btn-primary" do%>
                    <i class = "icon-remove icon-white"></i>          
                  <% end %>
                <% end %>
              </div>
            </div>  
            <% end %>
          <% else %>
            <p class="badge badge-info">Noch keine Tutoren zugeordnet</p>
          <% end %>
        </div>
        <div class="span1">
          <% if can? :add_user_list_path, Lecture%>
            <%= link_to add_user_list_path(@lecture, :tutors), :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
              <i class = "icon-plus icon-white"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row-fluid well">
      <div class="span4 header">eingetragene Gruppen</div>
      <div class="span7">
        <% if !@lecture.groups.blank? %>
          <% for group in @lecture.groups %>
          <div class="row-fluid row-item">
            <div class="span12">
              <%= link_to "#{group.to_s}", studentgroup_path(group.id) %>
            </div>  
          </div>
          <% end %>
        <% else %>
          <span class="badge badge-info">Keine Gruppen eingetragen</span>
        <% end %>
      </div>
      <div class="span1">
        <%= link_to "#todo", :class => 'btn btn-mini btn-success btn-inverse pull-right' do%>
          <i class = "icon-plus icon-white"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>