<h2>Dein Profil – <%= current_user.to_s %></h2>

<div class="row-fluid">
  <div class="span6 well">
    <h3>Meine Vorlesungen</h3>
    <% if !current_user.my_lectures.blank? %>
      <table class = "table table-striped">
        <% for lecture in current_user.my_lectures %>
          <tr>
            <td>
              <%= link_to lecture, lecture_path(lecture.id) %>
            </td>

            <td>
              <%= form_tag leave_lecture_path(lecture), :method => :delete do %>
                  <%= hidden_field_tag 'lecture_id', lecture.id %>
                  <%= button_tag :class=> "btn btn-small btn-primary pull-right" do %>
                    Verlassen <i class = "icon-remove icon-white"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="centered">
        <p class="badge badge-info">noch in keiner Vorlesung angemeldet</p>
      </div>
    <% end %>

    <div class="row">
      <div class="span12">
        <%= link_to lectures_path, :class => "btn btn-small btn-success btn-inverse pull-right" do %>
          Alle Vorlesungen anzeigen
        <% end %>
      </div>
    </div>
  </div>
  <div class="span6 well">
    <h3>Meine Gruppen</h3>
    <% if !current_user.my_groups.blank? %>
      <table class = "table table-striped">
        <% for group in current_user.my_groups %>
          <tr>
            <td>
              <%= link_to group, studentgroup_path(group.id) %>
            </td>

            <td>
              <%= form_tag leave_studentgroup_path(group), :method => :delete do %>
                  <%= hidden_field_tag 'group_id', group.id %>
                  <%= button_tag :class=> "btn btn-small btn-primary pull-right" do %>
                   Verlassen <i class = "icon-remove icon-white"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="centered">
        <p class="badge badge-info">in keiner Gruppe eingetragen</p>
      </div>
    <% end %>

    <div class="row-fluid">
      <div class="span6 centered">
        <%= link_to join_studentgroup_list_path, :class => "btn btn-small btn-success btn-inverse" do %>
            Gruppe beitreten
            <i class="icon-share-alt icon-white"></i>
          <% end %>
      </div>
      <div class="span6 centered">
        <% if can? :create, Studentgroup %>
          <%= link_to new_studentgroup_path, :class => "btn btn-small btn-success btn-inverse" do %>
            neue Gruppe erstellen
            <i class="icon-plus icon-white"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
