<%= form_tag @link, :class => "form-horizontal", :method => "put", :id => "group_form" do%>
  <% if not @group.nil? %>
    <% if not @group.errors.nil? and @group.errors.any? %>
      <% for err in @group.errors.full_messages %>
        <div class="alert alert-error">
          <button class="close" data-dismiss = "alert"> &times;</button>
          <%= err %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <table class = "table table-striped" style="margin-bottom: 0px">
    <tbody>
      <tr>
        <th>Name</th>
        <td colspan="2">
          <input type="text" name="studentgroup_name" id ="studentgroup_name" value="<%= session[:group][:name]%>">
        </td>
      </tr>
      <tr>
        <th>Vorlesung</th>
        <td colspan="2">
          <%= hidden_field_tag 'chosen_lecture' %>
          <input type="text" autocomplete="off" name="studentgroup_lecture" id ="studentgroup_lecture" value="<%= session[:group][:lecture][1]%>">
        </td>
      </tr>
      <tr>
        <th width=15%>Studenten</th>
        <td width=35%>
            <div class="input-append">
              <%= hidden_field_tag 'chosen_student' %>
              <input type="text" autocomplete="off" id="studentgroup_students">
              <button class="btn btn-success btn-inverse">
                <i class="icon-plus icon-white"></i>
              </button>
            </div>
        </td>
        <td width=50% >
          <%= hidden_field_tag 'student_to_delete' %>
          <% if !session[:group][:students].blank? %>
            <% for student in session[:group][:students] %>
              <div class="row-fluid row-item">
                <div class="span6">
                  <%= link_to student[1], user_path(student[0])%> <br>
                </div>
                <div class="span6">
                  <% if student[0] != current_user.id%>
                    <button data-student-id="<%= student[0] %>" class="btn btn-primary btn-mini btn-delete-student">
                      <i class="icon icon-remove icon-white"></i>
                    </button>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="badge badge-info">Noch keine Stundenten vorhanden</p>
          <% end %>
        </td>
      </tr>
      <% if can? :add_tutor, Studentgroup %>
        <tr>
          <th>Tutoren</th>
          <td>
            <div class="input-append">
              <%= hidden_field_tag 'chosen_tutor' %>
              <input type="text" autocomplete="off" id="studentgroup_tutors">
              <button class="btn btn-success btn-inverse">
                <i class="icon-plus icon-white"></i>
              </button>
            </div>
          </td>
          <td>
            <%= hidden_field_tag 'tutor_to_delete' %>            
            <% if !session[:group][:tutors].blank? %>
              <% for tutor in session[:group][:tutors] %>
                <div class="row-fluid row-item">
                  <div class="span6">
                  <%= link_to tutor[1], user_path(tutor[0])%> 
                  </div>
                  <div class="span6">
                    <button data-tutor-id = "<%= tutor[0] %>" class="btn btn-primary btn-mini btn-delete-tutor">
                      <i class="icon icon-remove icon-white"></i>
                    </button>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="badge badge-info">Noch keine Tutoren vorhanden</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions" style="margin-top:0px; background-color: #fff">
    <% if session[:group][:is_new] %>
      <%= link_to "Reset", new_studentgroup_path, :class => "btn btn-success btn-inverse " %>
      <%= button_tag "Speichern", :id => "change_to_post_btn", :class => "btn btn-success btn-inverse pull-right" %>
    <% else %>
      <%= link_to "Reset", edit_studentgroup_path(session[:group][:id]), :class => "btn btn-success btn-inverse " %>
      <%= button_tag "Speichern", :id => "change_action_btn", :class => "btn btn-success btn-inverse pull-right", :action => studentgroup_path(session[:group][:id]) %>
    <% end %>
  </div>
<% end %>
