<%
  link = if @group.nil?
    edit_new_temp_path
  else
    edit_temp_path(@group.id)
  end
%>
<%= form_tag link, :class => "form-horizontal", :method => "put", :id => "group_form" do %>
  <% if not @group.nil? %>
    <% if not @group.errors.nil? and @group.errors.any? %>
      <% for err in @group.errors.full_messages %>
        <div class="alert alert-error">
          <button class="close" data-dismiss = "alert"> &times;</button>
          <%= err %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <table class = "table table-striped" style="margin-bottom: 0px">
    <tbody>
      <tr>
        <th>Name</th>
        <td colspan="2">
          <input type="text" name="studentgroup_name" id ="studentgroup_name" value="<%= session[:group][:name]%>">
        </td>
      </tr>
      <tr>
        <th>Vorlesung</th>
        <td colspan="2">
          <%= hidden_field_tag 'chosen_lecture', session[:group][:lecture][:id] %>
          <input type="text" autocomplete="off" name="studentgroup_lecture" id ="studentgroup_lecture" value="<%= session[:group][:lecture][:title]%>">
        </td>
      </tr>
      <%= render partial: 'member_view', locals: { id_name: "student" } %>

      <% if can? :add_tutor, Studentgroup %>
        <%= render partial: 'member_view', locals: { id_name: "tutor" } %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions" style="margin-top:0px; background-color: #fff">
    <% if session[:group][:is_new] %>
      <%= link_to "Reset", new_studentgroup_path, :class => "btn btn-success btn-inverse " %>
      <%= button_tag "Speichern", :id => "change_to_post_btn", :class => "btn btn-success btn-inverse pull-right" %>
    <% else %>
      <%= link_to "Reset", edit_studentgroup_path(session[:group][:id]), :class => "btn btn-success btn-inverse " %>
      <%= button_tag "Speichern", :id => "change_action_btn", :class => "btn btn-success btn-inverse pull-right", :action => studentgroup_path(session[:group][:id]) %>
    <% end %>
  </div>
<% end %>
