<h2>Anmelden</h2>

<%= form_tag handle_login_path, :method => :post, :class => 'form-horizontal' do %>
  <%= labeled_control_group 'email' , text_field_tag('email')%>
  <%= labeled_control_group 'passwort' , password_field_tag('password')%>
  <%= control_group link_to('neu registrieren', {:controller => 'login', :action => 'signup'}, :class=>"btn btn-mini btn-success pull-right")%>

  <div class='form-actions'>
    <%= submit_tag 'Login', :class => 'btn btn-primary' %>
  </div>
<% end %>

