<h1>User signup</h1>

<%= form_tag :method => :post do %>
  <p>first name: <%= text_field_tag 'user[first_name]' %></p>
  <p>last name: <%= text_field_tag 'user[last_name]' %></p>
  <p>e-Mail address: <%= text_field_tag 'user[email]' %></p>
  <p>password: <%= password_field_tag 'user[password]' %></p>
  <%= submit_tag 'Register' %>
<% end %>

