<h2>Neu Registrieren</h2>

<%= form_tag handle_signup_path, :method => :post, :class => "form-horizontal" do %>
  <%= labeled_control_group 'Vorname' , text_field_tag('user[first_name]')%>
  <%= labeled_control_group 'Nachname' , text_field_tag('user[first_name]')%>
  <%= labeled_control_group 'Email' , text_field_tag('user[first_name]')%>
  <%= labeled_control_group 'Passwort' , text_field_tag('user[first_name]')%>

  <div class='form-actions'>
    <%= submit_tag 'Registrieren', :class => 'btn btn-primary'%>
  </div>
<% end %>

