<!DOCTYPE html>
<html>
<head>
  <title>SWAglev</title>
  <%= stylesheet_link_tag    "bootswatch", "bootstrap.min", "bootstrap-responsive.min" %>
  <%= javascript_include_tag  "application", "bootstrap.min" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body class="index">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">SWAglev</a>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <% if current_user %>
            <ul class="nav">
              <li>
                <%=link_to :controller => "lectures", :action => "index" do%>
                  <i class="icon-th-list icon-white"></i>
                  Vorlesungen  
                <%end%>
              </li>
              <li>
                <%=link_to user_path(current_user.id) do%>
                  <i class="icon-user icon-white"></i>
                  Profil
                <%end%>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <%=link_to logout_path do%>
                  <i class="icon-off icon-white"></i>
                  Logout 
                <%end%>
              </li>
            </ul>
          <%else%>
            <ul class="nav pull-right">
              <li>
                <%=link_to login_path do%>
                  <i class="icon-share-alt icon-white"></i>
                  Login
                <%end%>
              </li>
            </ul>

          <%end%>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <button class="close" data-dismiss = "alert"> &times;</button>
          <%= flash[:notice]%>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error">
          <button class="close" data-dismiss = "alert"> &times;</button>
          <%= flash[:error]%>
        </div>
      <% end %>
      <%= yield %>
    </div> <!-- /container -->
</body>
</html>
